node_modules/
dist/
build/
.env
uploads/
dev.db
*.log
.DS_Store
uploads/apks/*.apk
uploads/backgrounds/
server/dist/

# Android
*.apk
*.aab
android-tv-app/.gradle/
android-tv-app/build/
android-tv-app/app/build/
android-tv-app/local.properties
